<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "name": "Miaro Fandresena",
      "url": "https://miarofandresena.github.io",
      "sameAs": [
        "https://www.linkedin.com/in/miaro-fandresena-rafanomezaniavo-574208161",
        "https://web.facebook.com/miarofandresena.rafanomezaniavo",
        "https://github.com/miarofandresena"
      ]
    },
    {
      "@type": "WebSite",
      "name": "Miaro Fandresena",
      "url": "https://miarofandresena.github.io",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://miarofandresena.github.io/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  ]
}
</script>
